.root {
    width: 100%;

    border-radius: 0 0 24px 24px;
    padding: 20px;
    box-sizing: border-box;

    background: linear-gradient(180deg, #03277e 0%, #131740 100%);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 20px;
}

.title {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
}

.content {
    display: flex;
    align-items: center;
}

.avatar-wrapper {
    position: relative;
    overflow: hidden;

    width: 64px;
    height: 64px;
    border-radius: 12px;
    background: #f7f7f8;
}

.avatar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.body {
    width: calc(100% - 80px);
    margin-left: 16px;
}

.row-between {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & + & {
        margin-top: 8px;
    }
}

.row {
    display: flex;
    align-items: center;
}

.name {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #fafbff;

    margin-right: 6px;
}

.badge {
    display: block;

    height: 20px;

    padding: 2px 6px;
    border-radius: 10px;
    box-sizing: border-box;
    background: #fa46b5;

    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    color: #fff;
}

.bottom-text {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;

    color: #fff;

    span {
        color: rgba(255, 255, 255, 0.81);
    }
}

.button-skeleton {
    width: 106px;
}