.root {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 28px 20px 36px;
}

.title,
.balance {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.04em;
    color: #161718;
}

.balance {
    span {
        color: #838b93;
    }
}